@charset "UTF-8";
html {
  min-height: 100%;
  height: 100%;
}

body {
  font-size: 12px;
  font-family: 'Roboto', Arial, Tahoma, sans-serif;
  text-align: left;
  color: #000;
  background: #fff;
  min-height: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.main_wrapper {
  position: relative;
  min-height: 100%;
  padding: 0 0 200px;
}

header#header .first {
  height: 50px;
  width: 100%;
  background: #00869e;
}

header#header .first > div {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

header#header .second {
  height: 115px;
}

header#header .second > div {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

header#header .second > div::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.lang_switcher {
  float: left;
  position: relative;
}

.lang_switcher:hover > a::before {
  height: 100%;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.lang_switcher:hover div {
  height: 100px;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.lang_switcher > a {
  display: block;
  height: 50px;
  padding: 0 10px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
}

.lang_switcher > a::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background: #056f82;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation-duration: 0.1s;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-animation-duration: 0.1s;
  -moz-transition: all 0.1s ease-in-out;
  animation-duration: 0.1s;
  transition: all 0.1s ease-in-out;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.lang_switcher > a img {
  vertical-align: middle;
  position: relative;
}

.lang_switcher > a span {
  padding: 0 0 0 5px;
  font-size: 12px;
  font-weight: 600;
  vertical-align: middle;
  position: relative;
}

.lang_switcher div {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  background: #056f82;
  -webkit-animation-duration: 0.1s;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-animation-duration: 0.1s;
  -moz-transition: all 0.1s ease-in-out;
  animation-duration: 0.1s;
  transition: all 0.1s ease-in-out;
}

.lang_switcher div a {
  display: block;
  height: 50px;
  padding: 0 10px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.lang_switcher div a:hover {
  background: #00869e;
}

.lang_switcher div a img {
  vertical-align: middle;
}

.lang_switcher div a span {
  padding: 0 0 0 5px;
  font-size: 12px;
  font-weight: 600;
  vertical-align: middle;
}

.working_time {
  float: right;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 32px;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  background: url(../img/time_icon.svg) no-repeat 0 50%;
}

.header_email {
  float: right;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 32px;
  margin: 0 60px 0 0;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  background: url(../img/email_icon.svg) no-repeat 0 50%;
}

.header_email a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.header_email a:hover::before {
  width: 100%;
}

.header_email a::before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

.header_phones {
  float: right;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 32px;
  margin: 0 60px 0 0;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  background: url(../img/phone_icon.svg) no-repeat 0 50%;
}

h1.logo {
  float: left;
  padding: 10px 0 0;
}

h1.logo a {
  display: block;
  width: 145px;
  height: 96px;
  background: url(../img/logo.png) no-repeat 0 0;
}

nav#nav {
  float: right;
  padding: 10px 0 0;
  position: relative;
  z-index: 2;
}

nav#nav > span {
  display: block;
  height: 4px;
  width: 0;
  background: #1ab3b4;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

nav#nav > ul > li {
  display: inline-block;
  position: relative;
}

nav#nav > ul > li:hover ul {
  opacity: 1;
  visibility: visible;
}

nav#nav > ul > li > a {
  display: inline-block;
  height: 96px;
  padding: 0 30px;
  line-height: 96px;
  font-size: 20px;
  color: #004646;
  text-decoration: none;
}

nav#nav > ul > li ul {
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  background: #00869e;
  opacity: 0;
  visibility: hidden;
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

nav#nav > ul > li ul li a {
  display: block;
  padding: 8px 20px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

nav#nav > ul > li ul li a:hover {
  background: #1ab3b4;
}

#index_slider {
  position: relative;
}

#index_slider .image {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}

#index_slider .image::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

#index_slider .image img {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  transform: translate(-50%, -50%);
  -webkit-animation-duration: 0.45s;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-animation-duration: 0.45s;
  -moz-transition: all 0.45s ease-in-out;
  animation-duration: 0.45s;
  transition: all 0.45s ease-in-out;
}

#index_slider .image img.hide_me {
  opacity: 0;
}

#index_slider .inset {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-animation-duration: 0.3s;
  -moz-transition: all 0.3s ease-in-out;
  animation-duration: 0.3s;
  transition: all 0.3s ease-in-out;
}

#index_slider .inset.hide_me {
  top: 0;
  opacity: 0;
}

#index_slider .inset > div {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

#index_slider .inset > div div {
  width: 45%;
  float: left;
  color: #fff;
  padding: 40px 30px 50px;
  position: relative;
}

#index_slider .inset > div div::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #00869e;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

#index_slider .inset > div div h2 {
  position: relative;
  padding: 0 0 20px;
  font-size: 32px;
  line-height: 48px;
  top: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-animation-duration: 0.3s;
  -moz-transition: all 0.3s ease-in-out;
  animation-duration: 0.3s;
  transition: all 0.3s ease-in-out;
}

#index_slider .inset > div div h2.hide_me {
  top: -20px;
  opacity: 0;
}

#index_slider .inset > div div p {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  top: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-animation-duration: 0.3s;
  -moz-transition: all 0.3s ease-in-out;
  animation-duration: 0.3s;
  transition: all 0.3s ease-in-out;
}

#index_slider .inset > div div p.hide_me {
  top: -20px;
  opacity: 0;
}

#index_slider .tabs {
  height: 80px;
  background: #00869e;
}

#index_slider .tabs > div {
  max-width: 1140px;
  height: 80px;
  margin: 0 auto;
  padding: 0 20px;
}

#index_slider .tabs > div::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

#index_slider .tabs > div a {
  display: block;
  height: 80px;
  width: 25%;
  float: left;
  text-align: center;
  text-decoration: none;
  position: relative;
}

#index_slider .tabs > div a.active::after, #index_slider .tabs > div a:hover::after {
  top: -10px;
}

#index_slider .tabs > div a.active strong, #index_slider .tabs > div a:hover strong {
  color: #1ab3b4;
}

#index_slider .tabs > div a::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #00869e transparent;
  position: absolute;
  left: calc(50% - 10px);
  top: 0px;
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

#index_slider .tabs > div a strong {
  display: block;
  width: 100%;
  height: 120px;
  line-height: 120px;
  font-size: 96px;
  color: #fff;
  font-family: 'stm' !important;
  position: absolute;
  top: -120px;
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

#index_slider .tabs > div a strong.car::before {
  content: "\e930";
}

#index_slider .tabs > div a strong.bus::before {
  content: "\e923";
}

#index_slider .tabs > div a strong.crossover::before {
  content: "\e90f";
}

#index_slider .tabs > div a strong.heavy::before {
  content: "\e93a";
}

#index_slider .tabs > div a span {
  display: block;
  height: 80px;
  color: #fff;
  font-size: 18px;
  line-height: 80px;
}

.index_article > div {
  max-width: 1140px;
  margin: 0 auto;
  padding: 60px 20px 60px;
}

.index_article > div::after {
  content: "";
  display: block;
  height: 0px;
  clear: both;
}

.index_article > div .inset {
  width: calc(100% - 480px);
  float: left;
}

.index_article > div .inset h2 {
  padding: 0 0 20px;
  font-size: 24px;
  font-weight: 500;
  color: #00869e;
}

.index_article > div .inset .text {
  padding: 0 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #555;
}

.index_article > div .inset .text p {
  padding: 0 0 15px;
}

.index_article > div .inset .info h3 {
  padding: 0 0 10px;
  text-transform: uppercase;
  color: #111;
  font-size: 18px;
}

.index_article > div .inset .info p {
  font-size: 12px;
  color: #555;
}

.index_article > div .image {
  width: 400px;
  float: right;
}

.index_article > div .image img {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.index_icons {
  padding: 20px 0;
  background: #00869e;
}

.index_icons > div {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 0;
}

.index_icons > div > div {
  display: inline-block;
  width: 25%;
  color: #fff;
}

.index_icons > div > div .icon {
  float: left;
  padding: 0 10px 0 0;
}

.index_icons > div > div .icon svg {
  stroke: #fff;
}

.index_icons > div > div .info {
  width: calc(100% - 80px);
  float: left;
}

.index_icons > div > div .info strong {
  display: block;
  padding: 0 0 15px;
  font-size: 32px;
  font-weight: 100;
}

.index_icons > div > div .info span {
  display: block;
  font-size: 14px;
}

.index_grid {
  background: #19d4d6;
}

.index_grid:hover a {
  opacity: 0.6;
}

.index_grid > div::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.index_grid > div:last-child figure {
  background: #19d4d6;
}

.index_grid > div:last-child figure a {
  background: #19d4d6;
}

.index_grid > div:last-child figure:nth-child(2n-1) {
  background: #00c4c6;
}

.index_grid > div:last-child figure:nth-child(2n-1) a {
  background: #00c4c6;
}

.index_grid figure {
  width: 25%;
  height: 280px;
  float: left;
  margin: 0;
  background: #19d4d6;
}

.index_grid figure a {
  background: #19d4d6;
}

.index_grid figure:nth-child(2n) {
  background: #00c4c6;
}

.index_grid figure:nth-child(2n) a {
  background: #00c4c6;
}

.index_grid figure a {
  display: block;
  height: 280px;
  text-decoration: none;
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

.index_grid figure a:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.index_grid figure strong {
  display: block;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 72px;
  font-family: 'stm';
}

.index_grid figure strong.bus::before {
  content: "\e918";
}

.index_grid figure strong.car::before {
  content: "\e909";
}

.index_grid figure strong.truck::before {
  content: "\e943";
}

.index_grid figure strong.tractor::before {
  content: "\e913";
}

.index_grid figure strong.manpower::before {
  content: "\e940";
}

.index_grid figure strong.catering {
  font-family: 'FontAwesome';
}

.index_grid figure strong.catering::before {
  content: "\f045";
}

.index_grid figure strong.events::before {
  content: "\e950";
}

.index_grid figure strong.maintenance {
  font-family: 'FontAwesome';
}

.index_grid figure strong.maintenance::before {
  content: "\f013";
}

.index_grid figure span {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

.index_request {
  background: #00869e;
  padding: 40px 0;
}

.index_request > div {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.index_request > div::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.index_request > div .image {
  width: 410px;
  float: left;
}

.request_form {
  width: calc(100% - 450px);
  float: right;
}

.request_form h2 {
  padding: 0 0 40px;
  font-size: 32px;
  color: #fff;
}

.request_form .form::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.request_form .form div {
  width: calc(50% - 15px);
  float: left;
}

.request_form .form div + div {
  float: right;
}

.request_form .form ul li {
  padding: 0 0 10px;
}

.request_form .form ul li input, .request_form .form ul li textarea {
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 12px;
  border: 1px solid #fff;
  font-size: 14px;
  background: #fff;
  font-family: "Roboto";
}

.request_form .form ul li input:focus, .request_form .form ul li textarea:focus {
  border-color: #1ab3b4;
}

.request_form .form ul li textarea {
  height: 80px;
  padding: 10px 12px;
}

.request_form .form ul li select {
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 12px;
  border: 1px solid #fff;
  font-size: 14px;
  color: #000;
  font-family: 'Roboto';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(../img/select_pt.png) no-repeat 100% 50%;
  cursor: pointer;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}

.request_form .form ul li select:focus {
  border-color: #1ab3b4;
}

.request_form .form ul li button {
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 40px 0 0;
  line-height: 32px;
  border: 2px solid #1ab3b4;
  font-size: 14px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: bold;
  background: none;
  position: relative;
  cursor: pointer;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -khtml-border-radius: 18px;
  border-radius: 18px;
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

.request_form .form ul li button::after {
  content: "\e907";
  position: absolute;
  top: 50%;
  right: 20px;
  font-family: 'stm';
  -ms-transform: translate(0, -50%);
  /* IE 9 */
  -webkit-transform: translate(0, -50%);
  /* Safari */
  transform: translate(0, -50%);
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

.request_form .form ul li button:hover {
  padding: 0;
  background: #1ab3b4;
}

.request_form .form ul li button:hover::after {
  right: 10px;
}

#single_map {
  height: 480px;
}

footer#footer {
  width: 100%;
  color: #fff;
  background: #00869e;
  position: absolute;
  left: 0;
  bottom: 0;
}

footer#footer .first > div {
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 20px 20px;
}

footer#footer .first > div::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

footer#footer .second {
  background: #1ab3b4;
}

footer#footer .second > div {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 20px 10px;
}

footer#footer .second > div::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.copyright {
  float: left;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
}

.social_icons {
  float: right;
  font-size: 0;
}

.social_icons a {
  display: inline-block;
  margin: 0 0 0 10px;
}

.social_icons a:hover img {
  opacity: 1;
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari */
  transform: scale(1.1);
}

.social_icons a img {
  display: block;
  width: 32px;
  opacity: 0.6;
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

.footer_logo {
  width: 25%;
  float: left;
}

.footer_logo a {
  display: block;
  width: 145px;
  height: 96px;
  background: url(../img/white_logo.png) no-repeat 0 0;
}

.footer_logo span {
  display: block;
  padding: 20px 0 0;
  font-size: 14px;
  line-height: 28px;
}

nav.footer_nav {
  width: 50%;
  float: left;
  padding: 0 0 0 30px;
}

nav.footer_nav::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

nav.footer_nav > div {
  width: 50%;
  float: left;
}

nav.footer_nav > div h3 {
  padding: 0 0 30px;
  font-size: 16px;
}

nav.footer_nav > div ul li {
  padding: 0 0 20px;
}

nav.footer_nav > div ul li a {
  display: inline-block;
  padding: 0 0 0 20px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

nav.footer_nav > div ul li a:hover::before {
  width: 24px;
  height: 1px;
  top: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-transform: rotate(-45deg);
  /* Для Firefox */
  -ms-transform: rotate(-45deg);
  /* Для IE */
  -webkit-transform: rotate(-45deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-45deg);
  /* Для Opera */
  transform: rotate(-45deg);
}

nav.footer_nav > div ul li a:hover::after {
  width: 24px;
  height: 1px;
  top: 17px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-transform: rotate(45deg);
  /* Для Firefox */
  -ms-transform: rotate(45deg);
  /* Для IE */
  -webkit-transform: rotate(45deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(45deg);
  /* Для Opera */
  transform: rotate(45deg);
}

nav.footer_nav > div ul li a:hover span {
  -ms-transform: translate(10px, 0);
  /* IE 9 */
  -webkit-transform: translate(10px, 0);
  /* Safari */
  transform: translate(10px, 0);
}

nav.footer_nav > div ul li a::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 4px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

nav.footer_nav > div ul li a::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 4px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

nav.footer_nav > div ul li a span {
  display: inline-block;
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

.footer_search {
  width: 25%;
  float: left;
  padding: 0 0 0 20px;
}

.footer_search h3 {
  padding: 0 0 30px;
  font-size: 16px;
}

.footer_search .form {
  display: block;
  position: relative;
}

.footer_search .form input {
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 12px;
  border: 1px solid #fff;
  font-size: 14px;
  background: #fff;
  font-family: "Roboto";
}

.footer_search .form input:focus {
  border-color: #1ab3b4;
}

.footer_search .form button {
  display: block;
  width: 36px;
  height: 36px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/search_icon.svg) no-repeat 50%;
  background-size: 50%;
  opacity: 0.6;
  cursor: pointer;
}

.footer_search .form button:hover {
  opacity: 0.8;
}

.toggler {
  display: none;
  width: 48px;
  height: 28px;
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 2;
  -moz-transform: rotate(0deg);
  /* Для Firefox */
  -ms-transform: rotate(0deg);
  /* Для IE */
  -webkit-transform: rotate(0deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(0deg);
  /* Для Opera */
  transform: rotate(0deg);
  -webkit-animation-duration: 0.3s;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-animation-duration: 0.3s;
  -moz-transition: all 0.3s ease-in-out;
  animation-duration: 0.3s;
  transition: all 0.3s ease-in-out;
}

.toggler.active em:first-child {
  width: 4px;
  left: 22px;
}

.toggler.active em:first-child:first-child + em + em {
  width: 0;
}

.toggler.active_second em:first-child {
  height: 48px;
  top: -10px;
}

.toggler.active_last {
  -moz-transform: rotate(45deg);
  /* Для Firefox */
  -ms-transform: rotate(45deg);
  /* Для IE */
  -webkit-transform: rotate(45deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(45deg);
  /* Для Opera */
  transform: rotate(45deg);
}

.toggler em:first-child {
  display: block;
  width: 100%;
  height: 4px;
  background: #0ea6aa;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-animation-duration: 0.3s;
  -moz-transition: all 0.3s ease-in-out;
  animation-duration: 0.3s;
  transition: all 0.3s ease-in-out;
}

.toggler em:first-child:first-child + em {
  display: block;
  width: 100%;
  height: 4px;
  background: #0ea6aa;
  position: absolute;
  top: 12px;
  -moz-transform: rotate(0deg);
  /* Для Firefox */
  -ms-transform: rotate(0deg);
  /* Для IE */
  -webkit-transform: rotate(0deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(0deg);
  /* Для Opera */
  transform: rotate(0deg);
  -webkit-animation-duration: 0.3s;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-animation-duration: 0.3s;
  -moz-transition: all 0.3s ease-in-out;
  animation-duration: 0.3s;
  transition: all 0.3s ease-in-out;
}

.toggler em:first-child:first-child + em + em {
  display: block;
  width: 100%;
  height: 4px;
  background: #0ea6aa;
  position: absolute;
  top: 24px;
  -moz-transform: rotate(0deg);
  /* Для Firefox */
  -ms-transform: rotate(0deg);
  /* Для IE */
  -webkit-transform: rotate(0deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(0deg);
  /* Для Opera */
  transform: rotate(0deg);
  -webkit-animation-duration: 0.3s;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-animation-duration: 0.3s;
  -moz-transition: all 0.3s ease-in-out;
  animation-duration: 0.3s;
  transition: all 0.3s ease-in-out;
}

aside#aside_block {
  width: 100%;
  height: 100%;
  padding: 0 0 0;
  position: fixed;
  top: 80px;
  right: -100%;
  background: #00869e;
  z-index: 2;
  -webkit-animation-duration: 0.6s;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-animation-duration: 0.6s;
  -moz-transition: all 0.6s ease-in-out;
  animation-duration: 0.6s;
  transition: all 0.6s ease-in-out;
}

aside#aside_block.show_me {
  right: 0;
}

aside#aside_block > div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
}

aside#aside_block .footer_search {
  width: 100%;
  padding: 20px 10px 0 10px;
}

aside#aside_block .footer_search form input {
  width: 100%;
}

aside#aside_block .lang {
  float: right;
  padding: 10px 10px 0 0;
  position: relative;
}

aside#aside_block .lang select {
  display: block;
  width: 90px;
  height: 48px;
  padding: 0 16px;
  border: 1px solid #d1d1d1;
  font-size: 15px;
  color: #aaa;
  font-family: 'Roboto';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: #fff url(../img/select_pt.png) no-repeat 100% 50%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}

aside#aside_block .social_icons {
  float: left;
  padding: 20px 0 0;
}

nav.mobile_nav {
  overflow-y: auto;
}

nav.mobile_nav ul li {
  padding: 0 0 1px;
}

nav.mobile_nav ul li.submenu.active > a::before {
  -moz-transform: rotate(45deg);
  /* Для Firefox */
  -ms-transform: rotate(45deg);
  /* Для IE */
  -webkit-transform: rotate(45deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(45deg);
  /* Для Opera */
  transform: rotate(45deg);
}

nav.mobile_nav ul li.submenu.active > a::after {
  -moz-transform: rotate(-45deg);
  /* Для Firefox */
  -ms-transform: rotate(-45deg);
  /* Для IE */
  -webkit-transform: rotate(-45deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-45deg);
  /* Для Opera */
  transform: rotate(-45deg);
}

nav.mobile_nav ul li.submenu.active ul {
  display: block;
}

nav.mobile_nav ul li.submenu > a {
  position: relative;
}

nav.mobile_nav ul li.submenu > a::before {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 24px;
  right: 12px;
  -moz-transform: rotate(-45deg);
  /* Для Firefox */
  -ms-transform: rotate(-45deg);
  /* Для IE */
  -webkit-transform: rotate(-45deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-45deg);
  /* Для Opera */
  transform: rotate(-45deg);
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

nav.mobile_nav ul li.submenu > a::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 24px;
  right: 20px;
  -moz-transform: rotate(45deg);
  /* Для Firefox */
  -ms-transform: rotate(45deg);
  /* Для IE */
  -webkit-transform: rotate(45deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(45deg);
  /* Для Opera */
  transform: rotate(45deg);
  -webkit-animation-duration: 0.2s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-animation-duration: 0.2s;
  -moz-transition: all 0.2s ease-in-out;
  animation-duration: 0.2s;
  transition: all 0.2s ease-in-out;
}

nav.mobile_nav ul li a {
  display: block;
  padding: 18px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  background: #016c84;
}

nav.mobile_nav ul li ul {
  display: none;
}

nav.mobile_nav ul li ul li a {
  padding: 12px;
  font-size: 14px;
  font-weight: normal;
  background: #00869e;
}
